/* Theme Variablen */
:root {
    --bg-primary: #ffffff;
    --bg-secondary: #d7d8d8;
    --text-primary: #333333;
    --text-secondary: #666666;
    --accent-color: #16e9d7;
    --border-color: #e0e0e0;
    --link-color: #0078d7;
    --header-bg: rgb(10, 0, 148);
}

/* Dark Theme Variablen */
[data-theme="dark"] {
    --bg-primary: #1a1a1a;
    --bg-secondary: #2d2d2d;
    --text-primary: #ffffff;
    --text-secondary: #cccccc;
    --accent-color: #16e9d7;
    --border-color: #404040;
    --link-color: #66b3ff;
    --header-bg: #000066;
}

/* Basis Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 2vw 5vh;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    transition: background-color 0.3s, color 0.3s;
}

/* Theme Toggle Button */
.theme-toggle {
    position: fixed;
    top: 10px;
    right: 20px;
    padding: 10px;
    border-radius: 50%;
    border: none;
    background: var(--bg-secondary);
    color: var(--text-primary);
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    z-index: 1000;
}

.theme-toggle:hover {
    transform: scale(1.1);
}

/* Angepasste Styles für Dark Mode */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-color);
}

th,
td {
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    color: var(--text-primary);
}

th {
    background-color: var(--accent-color);
    color: black;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header-section {
    background-color: var(--header-bg);
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
}

.gallery-item {
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-color);
}

.hidden {
    display: none;
}

.news_image {
    max-width: 50vw;
}

.logoLink {
    line-height: unset;
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 20px;
    right: 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 1000;
}

.logoLink>a {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    margin-top: 5px;
    padding: 10px;
    border-radius: 50%;
    background: var(--bg-secondary);
    color: var(--text-primary);
    height: 20px;
    width: 20px;
    transition: all 0.3s ease;
}

.logoLink img {
    width: 20px;
    height: 20px;
}

.logoLink>a:hover {
    transform: scale(1.1);
}

.tab-btn {
    background-color: var(--bg-secondary);
    font-weight: bold;
    padding: 10px;
    border-radius: 5%;
    border: none;
    background: var(--bg-secondary);
    color: var(--text-primary);
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    z-index: 1000;
    margin-left: 10px;
    width: 100px;
}